* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    background-color: rgba(244, 247, 255, 1);
} 


body main{
    width: 95%;
    height: 100%;
    display: grid ;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:100px repeat(5,1fr);
    grid-template-areas: 
    "header header header header header header"
    "dashboard dashboard dashboard dashboard activity-logs activity-logs"
    "dashboard dashboard dashboard dashboard activity-logs activity-logs"
    "dashboard dashboard dashboard dashboard activity-logs activity-logs"
    "dashboard dashboard dashboard dashboard activity-logs activity-logs"
    "dashboard dashboard dashboard dashboard activity-logs activity-logs";
    ;

    gap: 1.5rem;
} 


body main header{
    grid-area: header;
} 


body main .dashboard{
    grid-area: dashboard;
/* 
    background-color:blue; */
} 


body main .activity-logs{
    grid-area: activity-logs;
    /* background-color:yellow; */
} 







@media only screen and (max-width: 1024px) {
    body main {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* Defines 6 equal columns */
        grid-template-rows: auto; /* Ensures rows adjust to content */
        grid-template-areas: 
            "header header header header header header"
            "dashboard dashboard dashboard dashboard dashboard dashboard"
            "dashboard dashboard dashboard dashboard dashboard dashboard"
            "dashboard dashboard dashboard dashboard dashboard dashboard"
            "activity-logs activity-logs activity-logs activity-logs activity-logs activity-logs"
            "activity-logs activity-logs activity-logs activity-logs activity-logs activity-logs";
    }
}

